[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule ".vim/bundle/bundler"]
	path = .vim/bundle/bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/bundle/dispatch"]
	path = .vim/bundle/dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = git@github.com:tpope/vim-rails.git
[submodule ".vim/bundle/rspec"]
	path = .vim/bundle/rspec
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule ".vim/bundle/slime"]
	path = .vim/bundle/slime
	url = git@github.com:jpalardy/vim-slime.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/tmux-navigator"]
	path = .vim/bundle/tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/two-firewatch"]
	path = .vim/bundle/two-firewatch
	url = git@github.com:rakr/vim-two-firewatch.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule ".vim/bundle/vinegar"]
	path = .vim/bundle/vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "iterm-gruvbox"]
	path = ites/iterm-gruvbox
	url = git@github.com:morhetz/gruvbox-contrib.git
[submodule ".vim/bundle/monrovia"]
	path = .vim/bundle/monrovia
	url = git@github.com:AlessandroYorba/Monrovia.git
[submodule ".vim/bundle/sierra"]
	path = .vim/bundle/sierra
	url = git@github.com:AlessandroYorba/Sierra.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/bundle/scvim"]
	path = .vim/bundle/scvim
	url = git@github.com:sbl/scvim.git
[submodule ".vim/bundle/youcompleteme"]
	path = .vim/bundle/youcompleteme
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".vim/bundle/1989"]
	path = .vim/bundle/1989
	url = https://github.com/sonjapeterson/1989.vim
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
[submodule ".vim/bundle/vim-vue"]
	path = .vim/bundle/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "iterm/solarized"]
	path = iterm/solarized
	url = git@github.com:altercation/solarized.git
[submodule ".vim/bundle/vim-solarized-powerline"]
	path = .vim/bundle/vim-solarized-powerline
	url = git@github.com:stephenmckinney/vim-solarized-powerline.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule ".vim/bundle/obsession"]
	path = .vim/bundle/obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-markdown-preview"]
	path = vim-markdown-preview
	url = git@github.com:JamshedVesuna/vim-markdown-preview.git
