"*":
  "base16-syntax":
    scheme: "Bespin"
  core:
    audioBeep: false
    disabledPackages: [
      "wrap-guide"
      "vim-mode-plus-ex-mode"
    ]
    ignoredNames: [
      "lib/faker/*"
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Monaco"
    fontSize: 25
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "be3154d5-e5d9-3094-96d4-d47571c4b4ab"
  "fuzzy-finder":
    searchAllPanes: true
  "one-dark-ui": {}
  rspec:
    command: "rspec -fd"
  "tree-view":
    focusOnReveal: false
  "vim-mode": {}
  "vim-mode-plus":
    incrementalSearch: true
    showCursorInVisualMode: false
    stayOnYank: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
